#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #081f93;
  
  
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 3em;
}

header {
color: #081f93;
  
}

footer {
color: #081f93;
}

button {
 color: #dbe31a;
 background-color: #081f93;
}

img {
  display: flex;
  max-width: 280px;
  margin: 0 auto;
  padding: rem;
  text-align: center;

}